{{!-- <!-- Navbar Start-->
<header class="nav-holder make-sticky">
  <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
    <h2>
      <i class="fa fa-laptop" style="font-size:36px; padding-right: 15px;padding-left: 50px;"></i>Electroder</h1>
      <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-align-justify"></i>
      </button>
      <div id="navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown active">
            <a href='#' onclick="" data-toggle="dropdown" class="dropdown-toggle">Home
              <b class="caret"></b>
            </a>
            <b class="caret"></b>
          </li>
          <li class="nav-item dropdown menu-large">
            <a href='#' onclick="window.location.href = '../user/laptops'" data-toggle="dropdown" class="dropdown-toggle">Laptops
              <b class="caret"></b>
            </a>
            <b class="caret"></b>
            </button>
          </li>
          <li class="nav-item dropdown menu-large">
            <a href='#' onclick="window.location.href = '../user/contact'" data-toggle="dropdown" class="dropdown-toggle">Contact
              <b class="caret"></b>
            </a>
            <b class="caret"></b>
            </button>
          </li>
        </ul>
      </div>
      <div id="search" class="collapse clearfix">
        <form role="search" class="navbar-form">
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control">
            <span class="input-group-btn">
          </div>
        </form>
      </div>
  </div>
  </div>
</header>
<!-- Navbar End--> --}}
<!-- Heading Start-->
<div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Add Laptop</h1>
      </div>
    </div>
  </div>
</div>
<!--Heading End-->
<script>
  $(document).ready(function () {
    var test = '$' + $('#price').val();
    //alert(test);
  });
</script>
<div class="container">
  <form class="text-center border border-light p-5" method="POST" action="/admin/addedlaptop">
    <p class="h4 mb-4 col-md-4">Laptop Infomation</p>
    <input type="text" id="name" name="name" class="form-control mb-4 col-md-4" placeholder="Product Name" required
      autofocus>
    <input type="text" id="brand" name="brand" class="form-control mb-4 col-md-4" placeholder="Brand" required>
    <input type="number" min="0" id="price" name="price" class="form-control mb-4 col-md-4" placeholder="Price in $"
      required>
    <input type="number" min="10" max="20" id="size" name="ss" class="form-control mb-4 col-md-4" placeholder="Screen size in inches"
      required>
    <input type="number" id="ram" name="ram" class="form-control mb-4 col-md-4" placeholder="RAM" required>
    <input type="text" id="processor" name="processor" class="form-control mb-4 col-md-4" placeholder="Processor"
      required>
    <input type="number" min="1" id="hdd" name="hdd" class="form-control mb-4 col-md-4" placeholder="TB(s)" required>
    <input type="number" min="1" max="5" id="rating" class="form-control mb-4 col-md-4" name="rating" placeholder="rating out of 5"
      required>
    <button class="btn btn-info btn-block my-4 col-md-4 " type="submit">Add Laptop</button>
  </form>
</div>