
<!-- Heading Start-->
<div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Add Laptop</h1>
      </div>
    </div>
  </div>
</div>
<!--Heading End-->
<script>
  $(document).ready(function () {
    var test = '$' + $('#price').val();
    //alert(test);
  });
</script>
<div class="container">
  <form class="text-center border border-light p-5" method="POST" action="/admin/addedlaptop">
    <p class="h4 mb-4 col-md-4">Laptop Infomation</p>
    <input type="text" id="name" name="name" class="form-control mb-4 col-md-4" placeholder="Product Name" required
      autofocus>
    <input type="text" id="brand" name="brand" class="form-control mb-4 col-md-4" placeholder="Brand" required>
    <input type="number" min="0" id="price" name="price" class="form-control mb-4 col-md-4" placeholder="Price in $"
      required>
    <input type="number" min="10" max="20" id="size" name="ss" class="form-control mb-4 col-md-4" placeholder="Screen size in inches"
      required>
    <input type="number" id="ram" name="ram" class="form-control mb-4 col-md-4" placeholder="RAM" required>
    <input type="text" id="processor" name="processor" class="form-control mb-4 col-md-4" placeholder="Processor"
      required>
    <input type="number" min="1" id="hdd" name="hdd" class="form-control mb-4 col-md-4" placeholder="TB(s)" required>
    <input type="number" min="1" max="5" id="rating" class="form-control mb-4 col-md-4" name="rating" placeholder="rating out of 5"
      required>
    <button class="btn btn-info btn-block my-4 col-md-4" style="background-color :#008295" type="submit">Add Laptop</button>
  </form>
</div>